#yellowbackground {
    background-color: rgb(253, 225, 148);
    margin-left: -20px;
    margin-right: -20px;
    font-size: 14px;
}

#space {
    margin-left: 65px;
    color: rgb(247, 109, 59);
}

#p1_size p {
    font-size: 16px;
}

#p2_size p {
    font-size: 14px
}

#space2 {
    margin-left: 32vw;
    color: rgb(247, 109, 59);
}

#price {
    color: rgb(247, 109, 59);
}

.recommendation {
    margin-top: 5px;
    margin-bottom: -10px;
    margin-left: 60px;
    padding: 4px;
    background-color: #F76D3B;
    color: white;
    font-weight: bold;
    width: fit-content;
}

.box-1 {
    border: 2px solid #F76D3B;
    padding: 15px;
    margin: 10px;
    color: #F76D3B;
    font-size: 16px;
    background-color: rgb(255, 240, 189);
    border-radius: 12px;
    width: 280px;
}

#btn {
    border-radius: 20px;
}

.box {
    border: 2px solid #F76D3B;
    padding: 15px;
    margin: 10px;
    color: #F76D3B;
    font-size: 16px;
    border-radius: 12px;
    width: 280px;
}

.button {
    padding: 6px 10px 6px 10px;
    border: 2px solid #F76D3B;
    background-color: #F76D3B;
    color: white;
    font-weight: bold;
    width: fit-content;
    border-radius: 5px;
}

.payment {
    margin-left: 20px;
    margin-top: 90px;
    margin-bottom: 60px;
}

.bottom {
    font-size: 14px;
    color: black;
    margin-left: 15px;
    margin-bottom: 130px;
}

.bottom_span {
    margin-left: 60px;
}